$color_main: #1193ff;
$color_main_border: #7ac3ff;
$color_main_text: #003b6c;

$color_accent: #004c8c;
$color_accent_border: #43739b;
$color_accent_text: #aad8ff;

$color_alt_text: #FFC000;

$page_color: #f3f9fe;