body{
    font-family: 'arial';
    font-size: 16pt;
    background: $page_color;
    color: $color_accent;
    margin: 0px;
}

.card{
    margin: 2vw;
    padding: 1em;
    background-color: $color_main;
    color: $color_main_text;
    border-radius: 8px;
    border: 2px solid $color_main_border;
    min-height: 18em;
}

.heading{
    margin: 2vw 3vw -1vw 3vw;
}

img.profile{
    float: left;
    height: 35vw;
    padding-right: 1em;
    max-height: 18em;
}

.resume_download{
    float: left;  
    padding: 25px;  
}

.resume_icon{
    height: 128px;
}