#navigation{
    list-style: none;
    margin: 0px;
    background: $color_accent;
    border-bottom: 2px solid $color_accent_border;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    
    a{
        text-decoration: none;
        display: block;
        padding: 1em;
        color: $color_accent_text;
        border-right: 1px solid $color_accent_text;
        border-left: 1px solid $color_accent_text;
    }
    
    a:hover{
        background: $color_main_text;
    }
}