// variables
$navbar_height: 140px;
$navbar_border: 2px;
$logo_width: ($navbar_height * 4.3);

#navigation{
    @include flexbox();

    height: $navbar_height;
    list-style: none;
    margin: 0px;
    background: $color_accent;
    border-bottom: $navbar_border solid $color_accent_border;
    padding: 0px;

    justify-content: flex-start;

    .menu_btn{
        height: 100%;
        font-size: ($navbar_height / 2);
        line-height: $navbar_height;
    }

    .nav_bar_list{
        display: none;
        list-style: none;
        margin: 0px;
        background: $color_accent;
        padding: 0px;

        .nav_link{
            height: 100%;
            line-height: $navbar_height;
            border-right: 1px solid $color_accent_text;
            border-left: 1px solid $color_accent_text;
        }
    }

    .nav_menu{
        display: none;
        position: absolute;
        top: ($navbar_height + $navbar_border);
        left: 0;
        width: 100%;
        background: $color_accent;

        .nav_link{
            height: $navbar_height;
            line-height: $navbar_height;
            border-top: 1px solid $color_accent_text;
            border-bottom: 1px solid $color_accent_text;
            font-size: ($navbar_height / 2);
        }
    }

    .nav_menu.open{
        display: block;
    }

    .nav_link{
        text-decoration: none;
        display: block;
        padding: 0px 1em;
        color: $color_accent_text;
    }
    
    .nav_link:hover{
        background: $color_main_text;
    }

    @include largerthan-large
    {
        .nav_bar_list{
            @include flexbox();

            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
        .menu_btn, .nav_menu, .nav_menu.open{
            display: none;
        }
    }
}

.logo{
    display: inline-block;
    height: $navbar_height;
    width: $logo_width;
    background-image: url("app/content/images/logo.png");
    background-size: contain;
}

.link_icon{
    padding-right: 20px;
}