<h1 class="heading">Games</h1>
<div ng-repeat="game in games" class="card">
    <div id="{{game.Key}}" class="gameDetails" data-date="{{game.Date}}" data-genre="{{game.Genre}}" data-tag="{{game.Tags}}">

        <img ng-if="{{game.Photo}}" src="{{game.Photo}}" />
        <iframe ng-if="{{game.Trailer}}" src="{{game.Trailer}}"></iframe>
        
        <h3 class="name">{{game.Name}}</h3>
        
        <p class="company">{{game.Publisher}}</p>
        <p class="company">{{game.Developer}}</p>
        <p class="gameEngine">{{game.GameEngine}}</p>
        <p class="myTitle">{{game.DevTitle}}</p>
        
        <ul class="tech">
            <li ng-repeat="techItem in game.Tech">{{techItem}}</li>
        </ul>
        
        <p class="date">{{game.Date}}</p>
        <p class="genre">{{game.Genre}}</p>
        <ul class="tags">
            <li ng-repeat="tag in game.Tags">{{tag}}</li>
        </ul>
    </div>    
</div>