.gameDetails{
    td{
       padding-right: 3em; 
    }

    .game_trailer{
        display: block;
        clear: both;
        height: 40vw;
        width: 60vw;
        max-height: 400px;
        max-width: 600px;

        margin: 2em 0em 2em 0em;
    }

    .game_photo{
        display: block;
        clear: both;
        width: 60vw;
        max-width: 600px;

        margin: 2em 0em 2em 0em;
    }

    label{
        font-size: 12pt;
        font-weight: 700;
    }

    h4{
        margin-bottom: 0.5em;
    }

    ul{
        margin-top: 0;
    }

    .tag{
        display: inline;
        margin: 0.5em 0.25em;
        font-size: 11pt;
        color: $color_alt_text;
    }
}