<h1 class="heading">Games</h1>
<div ng-repeat="game in games" class="card">
    <div id="{{game.Key}}" class="gameDetails" data-date="{{game.Date}}" data-genre="{{game.Genre}}" data-tag="{{game.Tags}}">
        
        <h2 class="name">{{game.Name}}</h2>
        <iframe class="game_trailer" ng-if="game.Trailer" src="{{ trustSrc(game.Trailer) }}" allowfullscreen frameborder="0"></iframe>
                
        <table>
            <tr>
                <td><label>Publisher</label></td>
                <td><p class="company">{{game.Publisher}}</p></td>
            </tr>
            <tr>
                <td><label>Developer</label></td>
                <td><p class="company">{{game.Developer}}</p></td>
            </tr>
            <tr>
                <td><label>Game Engine</label></td>
                <td><p class="gameEngine">{{game.GameEngine}}</p></td>
            </tr>
            <tr>
                <td><label>My Title</label></td>
                <td><p class="myTitle">{{game.DevTitle}}</p></td>
            </tr>
            <tr>
                <td><label>Genre</label></td>
                <td><p class="genre">{{game.Genre}}</p></td>
            </tr>
            <tr>
                <td><label>Release Date</label></td>
                <td><p class="date">{{game.Date}}</p></td>
            </tr>
        </table>
        
        <h4 ng-if="game.Tech && game.Tech.length > 0">Technologies Used</h4>
        <ul class="tech">
            <li ng-repeat="techItem in game.Tech">{{techItem}}</li>
        </ul>
        
        <!--<img ng-if="game.Photo" src="{{ game.Photo }}" />-->

        <h4 ng-if="game.Tags && game.Tags.length > 0">Tags</h4>
        <ul class="tags">
            <li ng-repeat="tag in game.Tags">{{tag}}</li>
        </ul>
    </div>    
</div>