<h1 class="heading">Projects</h1>
<div ng-repeat="project in projects" class="card">
    <div id="{{project.Key}}" class="projectDetails" data-date="{{project.Date}}" data-tag="{{project.Tags}}">

        <img ng-if="{{project.Photo}}" src="{{project.Photo}}" />
        <iframe ng-if="{{project.Trailer}}" src="{{project.Trailer}}"></iframe>
        
        <h3 class="name">{{project.Name}}</h3>
        
        <p>{{project.Description}}</p>
        
        <ul class="company">
            <li ng-repeat="client in project.Clients">{{client}}</li>
        </ul>

        <ul class="tech">
            <li ng-repeat="techItem in project.Tech">{{techItem}}</li>
        </ul>
        
        <p class="date">{{project.Date}}</p>
        <ul class="tags">
            <li ng-repeat="tag in project.Tags">{{tag}}</li>
        </ul>
    </div>   
</div>